@use '../abstracts/variables' as var;

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin-block: 0 var(--header-height);
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  background: var(--color-body);
}

ul {
  list-style: none;
  padding-inline: 0;
}

img {
  block-size: auto;
  max-inline-size: 100%;
}
