@use '../abstracts/mixins' as mixin;

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  // overflow: hidden;
}

body {
  margin-block: 0 var(--header-height);
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  background: var(--color-body);

  @include mixin.respond(tablet) {
    margin-block: 0;
  }
}

ul {
  list-style: none;
  padding-inline: 0;
}

img {
  block-size: auto;
  max-inline-size: 100%;
}
