body {
  font-family: var(--font-primary);
  font-size: var(--body);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  margin-block: 0;
  font-weight: var(--font-bold);
  line-height: 1.2;
  color: var(--color-title);
}

a {
  text-decoration: none;
}

i.uil {
  font-size: var(--headline-3);
}
