@use '../abstracts/variables' as var;

body {
  font-family: var.$font-primary;
  font-size: var.$body;
  color: var.$color-text;
}

h1,
h2,
h3,
h4 {
  font-weight: var.$font-bold;
  color: var.$color-title;
}

a {
  text-decoration: none;
}

i.uil {
  font-size: var.$headline-3;
}
