@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.u-wrapper {
  margin-inline: auto;
  padding-inline: var.$gap-1-5;
  max-inline-size: 816px;
}

.u-grid {
  display: grid;
  gap: var.$gap-1-5;
}
