// Typography
$font-primary: 'Poppins', sans-serif;
$big-font-size: 4.8rem;
$headline-1: 2.4rem;
$headline-2: 2.4rem;
$headline-3: 2rem;
$body: 1.6rem;
$small-font: 1.4rem;
$smaller-font: 1.2rem;

$font-medium: 500;
$font-bold: 700;

/* Font size for large devices */
@media screen and (min-width: 968px) {
  $big-font-size: 5.6rem;
  $h1-font-size: 3.2rem;
  $h2-font-size: 3.6rem;
  $h3-font-size: 2.4rem;
}

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Utilities
$gap-0-25: 4px;
$gap-0-5: 0.8rem;
$gap-0-75: 1.2rem;
$gap-1: 1.6rem;
$gap-1-5: 2.4rem;
$gap-2: 3.2rem;
$gap-2-5: 4rem;
$gap-3: 4.8rem;
$gap-3-5: 5.6rem;

$z-tooltip: 5;
$z-fixed: 10;
$z-modal: 15;

$header-height: 4.8rem;

// Colors
$color-hue: 230;
$color-white: #fff;

/* HSL color mode */
$color-primary: hsl($color-hue, 69%, 61%);
$color-primary-alt: hsl($color-hue, 57%, 53%);
$color-primary-lighter: hsl($color-hue, 92%, 85%);
$color-title: hsl($color-hue, 8%, 15%);
$color-text: hsl($color-hue, 8%, 45%);
$color-text-light: hsl($color-hue, 8%, 65%);
$color-input: hsl($color-hue, 70%, 96%);
$color-body: hsl($color-hue, 60%, 99%);

$container-color: $color-white;
$scroll-bar-color: hsl($color-hue, 12%, 90%);
$scroll-thumb-color: hsl($color-hue, 12%, 80%);
