@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.card {
  display: grid;
  margin-inline: auto;
  max-inline-size: 650px;
  max-block-size: 700px;
  border-radius: 1.2rem;
  background: var(--slider-color);
  box-shadow: 0 -0 15px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  @include mixin.respond(tablet) {
    grid-template-columns: repeat(2, 1fr);
    max-block-size: 300px;
  }

  &__data {
    display: grid;
    gap: var(--gap-0-5);
    padding-block: var(--gap-2);
    padding-inline: var(--gap-1-5);
  }

  &__image {
    display: block;
    block-size: 400px;
    aspect-ratio: 16/9;
    align-self: stretch;
    object-fit: cover;
    object-position: left;

    @include mixin.respond(tablet) {
      block-size: 300px;
    }
  }

  &__title {
    font-size: var(--headline-3);
    text-align: center;
  }

  &__description {
    display: inline-block;
    block-size: 105px;
    font-size: var(--small-font);
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__button {
    padding-block: var(--gap-0-75);
    inline-size: 100%;
    cursor: pointer;
    border: none;
    background: var(--color-primary);
    border-radius: 0.8rem;
    font: var(--font-medium) var(--body) / normal var(--font-primary);
    color: var(--color-white);
  }
}
