@use '../abstracts/mixins' as mixin;

.about {
  &__container {
    @include mixin.respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--gap-3-5);
    }
  }

  &__img {
    justify-self: center;
    align-self: center;
    inline-size: 200px;
    border-radius: 8px;
  }

  &__description {
    margin-block-end: var(--gap-2-5);
    text-align: center;

    @include mixin.respond(tablet) {
      text-align: start;
    }
  }

  &__info {
    display: flex;
    justify-content: space-evenly;
    margin-block-end: var(--gap-2-5);
  }

  &__info-title {
    font-size: var(--headline-2);
    font-weight: var(--font-bold);
    color: var(--color-title);
  }

  &__info-name {
    font-size: var(--smaller-font);
  }

  &__info-title,
  &__info-name {
    display: block;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }
}
