@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.home {
  &__container {
    gap: var.$gap-1;
  }

  &__content {
    grid-template-columns: 0.5fr 3fr;
    padding-block-start: var.$gap-3;
    align-items: center;
  }

  &__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: var.$gap-0-75;

    &-icon {
      color: var.$color-primary;

      &:hover {
        color: var.$color-primary-alt;
      }
    }
  }

  &__blob {
    inline-size: 200px;
    fill: var.$color-primary;

    &-img {
      inline-size: 170px;
    }
  }

  &__data {
    grid-column: 1 / 3;
  }

  &__title {
    font-size: var.$big-font-size;

    span {
      display: block;
      font-size: var.$headline-1;
      color: var.$color-text;
      font-weight: var.$font-medium;
      margin-block-end: var.$gap-2;
    }
  }

  &__description {
    margin-block-end: var.$gap-2;
  }

  & &__scroll {
    display: none;

    &-button {
      color: var.$color-primary;
      transition: 0.3s;

      &:hover {
        transform: translateY(0.25rem);
      }
    }

    &-mouse {
      font-size: 3.2rem;
    }

    &-name {
      font-size: var.$small-font;
      color: var.$color-title;
      font-weight: var.$font-medium;
      margin-inline-end: var.$gap-0-25;
    }

    &-arrow {
      font-size: 2rem;
    }
  }
}
